<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="pharmSoft.Properties.Settings.pharmsoftConnectionString" connectionString="server=localhost;user id=root;password=2015;persistsecurityinfo=True;database=pharmsoft;allowuservariables=True" providerName="MySql.Data.MySqlClient"/>
    <add name="pharmSoft.Properties.Settings.pharmsoftConnectionString1" connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=pharmsoft;allowuservariables=True" providerName="MySql.Data.MySqlClient"/>
    <add name="pharmSoft.Properties.Settings.ConnectionString" connectionString="Dsn=localhost;uid=root" providerName="System.Data.Odbc"/>
    <add name="pharmSoft.Properties.Settings.db_pharmsoftConnectionString" connectionString="server=127.0.0.1;user id=root;password=2015;database=db_pharmsoft" providerName="MySql.Data.MySqlClient"/>
    <add name="pharmSoft.Properties.Settings.db_pharmsoftConnectionString1" connectionString="server=127.0.0.1;user id=root;database=db_pharmsoft" providerName="MySql.Data.MySqlClient"/>
    <add name="pharmSoft.Properties.Settings.db_pharmsoftConnectionString2" connectionString="server=localhost;user id=root;password=2015;database=db_pharmsoft" providerName="MySql.Data.MySqlClient"/>
    <add name="pharmSoft.Properties.Settings.ConnectionString1" connectionString="Dsn=sales_report;uid=root;pwd=mosaic2015" providerName="System.Data.Odbc"/>
  </connectionStrings>
  <startup uselegacyv2runtimeactivationpolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
